<h2 class="text-2xl font-semibold mb-4">Найти пользователя</h2>
<form [formGroup]="form" (ngSubmit)="onSubmit()" class="mb-10">
  <div class="flex gap-8">
    <input
      formControlName="id"
      name="id"
      id="id"
      class="border-2 rounded-lg p-2 text-xl flex-1"
      placeholder="Введите имя или id пользователя" />
    <button
      type="submit"
      class="flex-2 border-2 rounded-lg p-2 px-4 text-xl bg-green-500 text-white font-semibold">
      Поиск
    </button>
  </div>
</form>
