@media screen and (max-width: 615px) {
    .welcome{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .welcome div{
        width: 45%;
        margin-top: 20px;
    }
}

@media screen and (max-width: 460px) {
    .welcome div{
        width: 75%;
        margin-top: 20px;
    }
}