<app-user-search></app-user-search>

<ng-container *ngIf="userService.isUserExist; else userUndefined">
  <h1 class="text-2xl font-semibold pl-10 mb-6">Информация о пользователе</h1>
  <div class="flex justify-between mb-14">
    <app-user-data class="w-full" [userService]="userService"></app-user-data>
    <app-user-stats
      class="w-full flex justify-between gap-5"
      [userService]="userService"></app-user-stats>
  </div>
  <div
    class="font-normal text-base text-gray-600 pl-10 mt-[-2.3rem] mb-8"
    *ngIf="userService.commits.length > 0">
    Последняя активность:
    {{ userService.commits[0].committed_date | date : 'medium' : 'UTC+3' }}
  </div>
  <app-user-projects [userService]="userService"></app-user-projects>
  <!--^^^ отступ между компонентами у списка проектов ^^^-->
  <app-user-commits [userService]="userService"></app-user-commits>
</ng-container>

<ng-template #userUndefined>
  <h1 class="text-3xl font-semibold mb-6">
    Невозможно получить данные о пользователе
  </h1>
</ng-template>
