<div
  class="grid grid-cols-1 gap-2 sm:grid-cols-3 sm:gap-8 lg:grid-cols-2"
  *appLet="userService.userData as data">
  <img
    alt="Аватарка пользователя"
    class="border-2 border-gray-400 rounded-full w-48 h-48 col-span-1 mx-auto sm:mx-0"
    *appSkeleton="
      userService.isLoadingUserData;
      classes: 'w-48 h-48 aspect-square col-span-1 mx-auto sm:mx-0';
      isRound: true
    "
    [src]="
      userService.isLoadingUserData ? '/assets/user.png' : data.avatar_url
    " />
  <div
    class="flex flex-col justify-around col-span-1 sm:col-span-2 lg:col-span-1 gap-2 text-center sm:text-left">
    <h3
      class="font-semibold text-2xl"
      *appSkeleton="
        userService.isLoadingUserData;
        width: '100%';
        height: '32px'
      ">
      {{ data.name }}
    </h3>
    <a
      [href]="data.web_url"
      class="font-semibold text-2xl link"
      *appSkeleton="
        userService.isLoadingUserData;
        width: '100%';
        height: '32px'
      ">
      {{ data.username }} - {{ data.id }}
    </a>
    <address
      class="text-2xl"
      *appSkeleton="
        userService.isLoadingUserData;
        width: '100%';
        height: '32px'
      ">
      {{ data.public_email ?? 'Почта скрыта' }}
    </address>
  </div>
</div>
