<ng-container *appLet="userService.commits as commits">
  <h2 class="font-semibold text-2xl mb-6 pl-10">
    Коммиты пользователя:
    <ng-container *ngIf="!userService.isLoadingUserCommits">
      <span class="font-normal text-sm text-gray-600 ml-8 mr-4">
        Всего: {{ commits.length }}
      </span>
      <span class="font-normal text-sm text-gray-600">
        Показано:
        {{
          commits.length > userService.visibleCommitsCount
            ? userService.visibleCommitsCount
            : commits.length
        }}
      </span>
    </ng-container>
  </h2>
  <ul
    class="flex flex-col gap-4"
    *ngIf="!userService.isLoadingUserCommits; else userCommitsLoading">
    <li class="flex commit-item static" *ngFor="let commit of commits">
      <div class="w-full flex pl-8">
        <div class="flex flex-col w-[30%]">
          <h3 class="font-semibold text-2xl mb-4">
            <a [href]="commit.web_url">{{ commit.title }}</a>
          </h3>
          <h4 class="font-normal text-sm text-gray-600 mb-1">
            • Создан: {{ commit.created_at | date : 'medium' : 'UTC+3' }}
          </h4>
          <h4 class="font-normal text-sm text-gray-600 mb-3">
            <a
              [href]="
                'https://gitlab.com/api/v4/projects/' + commit.project_id
              ">
              • Проект: {{ commit.project_id }}
            </a>
          </h4>
        </div>
        <div class="flex flex-col justify-center w-[45%] mx-auto">
          <h3 class="font-medium text-xl mb-3">Описание:</h3>
          <p class="font-normal text-base">{{ commit.message }}</p>
        </div>
        <div class="flex gap-10 items-center w-[8%]">
          <div class="flex flex-col items-center">
            <span class="font-semibold text-4xl">+</span>
            <span class="font-semibold text-2xl">
              {{ commit.stats.additions }}
            </span>
          </div>
          <div class="flex flex-col items-center">
            <span class="font-semibold text-4xl">-</span>
            <span class="font-semibold text-2xl">
              {{ commit.stats.deletions }}
            </span>
          </div>
        </div>
      </div>
    </li>
  </ul>
</ng-container>

<ng-template #userCommitsLoading>
  <p class="font-medium text-lg pl-10 mb-14">Загрузка...</p>
</ng-template>
