.error-notification {
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 30px;
  max-width: 600px;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #5e5555;
  color: #efefef;
  border-radius: 20px;
  box-shadow: #5e5555 0 0 2px 2px;
  opacity: 0;
  transition: opacity 0.5s linear;
}

.error-notification--active {
  opacity: 1;
  transition: opacity 0.5s linear;
}

.display-none {
  display: none;
}
