<div class="flex mb-12">
  <img
    *appSkeleton="isLoadingNow; width: '12rem'; isRound: true"
    [src]="isLoggedIn ? userData?.avatar_url : '/assets/user.png'"
    alt=""
    class="border-2 rounded-full w-48 aspect-square" />
  <div
    *ngIf="isLoadingNow || isLoggedIn; else notLoggedIn"
    class="flex flex-col justify-around ml-8">
    <h2
      *appSkeleton="isLoadingNow; width: '250px'; height: '30px'"
      class="font-bold text-4xl">
      {{ userData?.name }}
    </h2>
    <h3
      *appSkeleton="isLoadingNow; width: '250px'; height: '30px'"
      class="font-bold text-3xl">
      {{ userData?.username }}
    </h3>
    <address
      *appSkeleton="isLoadingNow; width: '250px'; height: '30px'"
      class="text-2xl">
      {{ userData?.email }}
    </address>
  </div>
</div>

<ng-template #notLoggedIn>
  <div class="flex flex-col justify-around ml-8">
    <h2 class="font-semibold text-3xl">Похоже, вы не авторизовались</h2>
    <h3 class="text-2xl">Для авторизации нажмите на кнопку войти</h3>
  </div>
</ng-template>
