<ng-container *appLet="userService.userStats as stats">
  <div class="flex flex-col gap-2">
    <h3
      class="font-medium text-base text-lg"
      *appSkeleton="
        userService.isLoadingUserStats;
        width: '100%';
        height: '28px'
      ">
      Языки программирования:
    </h3>
    <div
      class="text-md"
      *appSkeleton="
        userService.isLoadingUserStats;
        width: '66.666%';
        height: '24px'
      ">
      • {{ stats.programingLanguages | sequence }}
    </div>
  </div>
  <div class="flex flex-col gap-2">
    <h3
      class="font-medium text-base"
      *appSkeleton="
        userService.isLoadingUserStats;
        width: '100%';
        height: '28px'
      ">
      Самый активный день: <br />
    </h3>
    <div
      class="font-normal"
      *appSkeleton="
        userService.isLoadingUserStats;
        width: '180px';
        height: '24px'
      ">
      • {{ stats.mostActiveWeekday | weekday }}
    </div>
  </div>
  <div class="flex flex-col gap-2">
    <h3
      class="font-medium text-base text-lg"
      *appSkeleton="
        userService.isLoadingUserStats;
        width: '100%';
        height: '28px'
      ">
      Общее число коммитов:
      {{ stats.commitsCount }}
    </h3>
    <div
      class="font-normal text-sm text-gray-600"
      *appSkeleton="
        userService.isLoadingUserStats;
        width: '180px';
        height: '20px'
      ">
      • {{ stats.editStats[0] }} строк(-и) добавлено
    </div>
    <div
      class="font-normal text-sm text-gray-600"
      *appSkeleton="
        userService.isLoadingUserStats;
        width: '180px';
        height: '20px'
      ">
      • {{ stats.editStats[1] }} строк(-и) удалено
    </div>
  </div>
  <div>
    <h3
      class="font-medium text-base text-lg"
      *appSkeleton="
        userService.isLoadingUserStats;
        width: '100%';
        height: '28px'
      ">
      Общее число код-ревью: {{ stats.reviewsCount }}
    </h3>
  </div>
</ng-container>
