<form class="compare-form">
  <h3>Заполните список программистов для сравнения:</h3>
  .compare-form__
  <div class="compare-form__group">
    <label for="1" class="compare-form__label">1</label>
    <input id="1" type="text" class="compare-form__input" />
  </div>
  <div class="compare-form__group">
    <label for="4" class="compare-form__label">4</label>
    <select id="4" class="compare-form__label" multiple>
      <option>a</option>
      <option>b</option>
      <option>c</option>
    </select>
  </div>
  <!--  <button (click)="Compare()">Сравнить</button>-->
</form>

<!--сам программист, количество коммитов, языки программирования, количество строк кода добавленных/удаленных,
количество код ревью, объем проведенных код-ревью-->
